$def with(params)
$var username: $params['username']
$var privilege: $params['privilege']
<br>
<h1 class="text-center">¡BIENVENIDO!</h1>
<br>
<section class="float-sm-left" > 
    <a href="/login"><button type="button" class="btn btn-dark btn-lg" style="background-color: #009420;"><img src="/static/files/lock.png" height="350" width="350"/><br><h1>Iniciar Sesión</h1></button></a>
</section>

<section class="float-sm-right" > 
    <a href="users/insert"><button type="button" class="btn btn-dark btn-lg" style="background-color: #221D45"><img src="/static/files/clipboard.png" height="350" width="350"/><br><h1>Registro</h1></button></a>
</section>