$def with(page)
<!doctype html>
<!--
    Author: Salvador Hernández Mendoza
    Email: salvadorhm@gmail.com
    https://github.com/salvadorhm/kuorra
    -->
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="60; url=/logout" />
    <link rel="icon" type="image/png" href="/static/files/hawk-bird-animal-shape.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, max-age=0, no-store, must-revalidate" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" >
    <link rel="shortcut icon" type="image/x-icon" href="/static/files/hawk-bird-animal-shape.png" />
    <title>ADVIHAWK</title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #009420;">
            <a class="navbar-brand" href="/home"><img src="/static/files/hawk-bird-animal-shape.png" width="30" height="30" class="d-inline-block align-top" alt="">ADVIHAWK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <section class="collapse navbar-collapse" id="navbarNav">
              <ul class="nav navbar-nav">
                $if page.privilege == '0':
                    <li class='active' class="nav-item"><a href="/"><span class="glyphicon glyphicon-user"></span> $page.username </a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/logs">Logs</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                $elif page.privilege == '1':
                    <li class='active'><a href="/"><span class="glyphicon glyphicon-user"></span> $page.username </a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            </section>
          </nav>
    </header>
    <section class="container">$:page</section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>